.Generator {
  text-align: center;
  margin: 200px 100px 200px 100px;
  display: block;
 }

 .restlocation {
   font-size: 30px;
 }

 .restinfo {
   font-size: 20px;
   margin-left: 0;
   margin-right: 0;
 }

