.footer {
  background-color: white;
  font-family: Verdana;
  height: 10px;
  font-size: 12px;
  clear: both;
  border-top: 1px solid black;
  color: black;
  bottom: 0;
  width: 100%;
  margin-top: 50px;
}

.footer p {
  text-align: right;
}
